/Stalkr_Service/nbproject/private/
/Stalkr_Service/build/
/StalkrLib/build/
/StalkrLib/dist/
/Netbeans/javalibtest/nbproject/private/
/Netbeans/javalibtest/build/
/Netbeans/JavafiedStalkrLib/nbproject/private/
/Netbeans/JavafiedStalkrLib/build/
/Netbeans/JavafiedStalkrLib/dist/